* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins;
    overflow-x: hidden;
}

h1 {
   font-size: 40px; 
   font-weight: 600;
}

h2 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

.margin {
    margin: 50px;
}

.marginPl {
    margin-left: 50px;
}

.fixed-home {
    position: fixed;
    z-index: 10;
    bottom: 15px;
    margin-left: 25px;
    animation: jump 0.6s linear alternate infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.home-iconify {
    height: 40px; 
    width: 40px;
}

.home-iconify:hover {
    mask-image: url();
}

nav {
    width: 100%;
    padding: 15px;
}

nav li {
    display: inline;
    margin: 30px;
}

.list, a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

section {
    
}

.circle {
    z-index: 9;
    display: flex;
    position: absolute;
    right: 40%; top: 65%;
    width: 7em; height: 7em;
    background-color: #af2e55;
    border: 5px solid white;
    border-radius: 100px;
}

.circle a {
    margin: auto;
}

.circle-text {
    font-weight: 600;
    font-size: 18px;
    color: white;
    width: 60%;
    margin: auto;
    text-align: center;
}

.circle:hover {
    background-color: black;
    transition: 1s;
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
}

footer > div {
    margin-block: 10px;
}

footer p {
    text-align: center;
}

footer > div > div {
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px !important;
    }

    * {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 24px;
    }

    * {
        overflow-x: hidden;
    }
}